/** @format */

html {
  scroll-behavior: smooth;
}
:root {
  --light: #edf4f5;
  --skyblue: #7ae2cf;
  --navy: rgb(15, 61, 103);
  --pink: #7e077e;
  --yellow: #edcd1f;
}
body {
  background: var(--light) !important;
  font-family: "Gill Sans", sans-serif;
}
/* =================animate css starts here================= */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* =================animate css ends here================= */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

.logo-container {
  margin: 6px;
  width: 150px;
}
.logo-container img {
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  display: block;
  padding: 12px 24px;
  margin-block: 8px;
  text-decoration: none;
  text-transform: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0em;
  color: #ffffff;
  text-transform: uppercase !important;
}
nav ul a:hover {
  color: var(--yellow);
}

a i {
  transform: translateY(-2px);
  margin-right: 4px;
}
section {
  padding-top: 70px;
  padding-inline: 20px;
  min-height: 250px;
  width: 80%;
  margin: auto;
  opacity: 1;
  transition: all 0.5s;
}
section p {
  color: #555;
  font-size: 17px;
  font-family: Madefor, Helvetica Neue, Helvetica, Arial;
}

section h2 {
  display: inline;
  color: var(--navy);
  width: inherit;
  position: relative;
  font-size: 2.5rem;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-weight: 600 !important;
}
section h2::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  width: 50%;
  height: 5px;
  border-radius: 2px;
  background: var(--yellow);
}

#contact p {
  color: var(--light);
}

footer {
  background: linear-gradient(var(--navy), black);
}

.card {
  overflow: hidden;
  height: 350px !important;
}
.card img,
.img-top {
  transition: 0.7s;
  opacity: 0.95;
}
.card img:hover,
.img-top:hover {
  transform: scale(105%);
  opacity: 1;
}

@media (max-width: 650px) {
  nav ul li a {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .logo-container {
    margin: 5px;
    width: 130px;
  }

  section {
    width: 100%;
    padding-top: 40px;
  }
  section h2 {
    font-size: 1.7em;
  }
}
@media (max-width: 450px) {
  nav ul li a {
    padding: 5px 6px;
    font-size: 0.7rem;
  }
  section h2 {
    font-size: 1.4em;
  }
  section p {
    font-size: 14px;
  }
}
.social-link img {
  transition: 0.5s;
  filter: brightness(90%);
  width: 30px !important;
}
.social-link img:hover {
  transform: translateY(-5px);
  filter: brightness(100%);
}
